<sly data-sly-use.cpp="/libs/composum/platform/htl/cppl.html"
     data-sly-use.cpn="/libs/composum/platform/htl/cpnl.html"></sly>

<sly data-sly-call="${cpp.startElement @ var='field',
    type='com.composum.pages.components.model.search.SearchField'}"></sly>
<sly data-sly-use.field="${'com.composum.pages.components.model.search.SearchField' @ fromScope='page', key='field'}"></sly>
<sly data-sly-call="${cpn.startForm @ action=field.searchResultLink, method='GET'}"></sly>
<div class="input-group" title="${field.hint}">
    <input type="textfield" name="search.term" class="form-control" placeholder="${field.placeholderText}"
           aria-labelledby="searchbutton" role="searchbox" value="${field.searchTerm}">
    <span class="input-group-btn">
                <button type="submit" class="btn btn-default ${field.buttonSymbol}"
                        id="searchbutton" aria-label="Search">
                    <sly data-sly-test.buttonImage="${field.buttonImage}">
                        <sly data-sly-call="${cpn.startImage @ src=field.buttonImage}"></sly>
                        <sly data-sly-call="${cpn.endImage}"></sly>
                    </sly>
                    <sly data-sly-test="${!buttonImage}">${field.buttonText}</sly>
                </button>
            </span>
</div>
<sly data-sly-call="${cpn.endForm}"></sly>
<sly data-sly-call="${cpp.endElement}"></sly>
